*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

.main-page{
  max-width: 550px;
  min-height: 570px;
  box-shadow: 15px 5px 20px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro::before{ 
  left: 80%;
  top: -90px;
}

.question-container::before{
  left: 87%;
  top: -85px;
}

.intro::before, 
.question-container::before{
  content: '';
  min-width: 297px;
  min-height: 235px;
  background-color: lemonchiffon;
  position: absolute;
  border-radius: 50%;
  transform: rotate(40deg);
  z-index: 1;
}

.intro::after{
  right: 80%;
  bottom: -95px;
}

.question-container::after{
  right: 87%;
  bottom: -110px;
}

.intro::after, 
.question-container::after{
  content: '';
  width: 297px;
  height: 235px;
  background-color: #DEEBF8;
  position: absolute;
  border-radius: 50%;
  transform: rotate(180deg);
  z-index: 1;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  }

.intro > button{
  width: 190px;
  height: 50px;
  background-color:#4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 75%;
  margin: 1em;
}

.question{
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1em;
}

.question-answers{
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

.question-answers > button{
  background-color: transparent;
  width: 100%;
  border: 1.2px solid #4D5B9E;
  border-radius: 10px;
  color: #293264;
  padding: 0.2em 0.5em;
  cursor: pointer;
} 

.question-answers > button.btn-active{
  background-color: #4d5b9e6f;
  border: none;
}

.question-answers > button.correct{
  background-color: #94D7A2;
  color:#293264;
  border: none;
  opacity: 1;
}
.question-answers > button.wrong{
  background-color: #F8BCBC;
  border: none;
}


button.check{
  width: 120px;
  height: 35px;
  margin: 0 auto;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  color: white;
}
button.restart{
  width:104px;
  height: 30px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  border-radius: 10px; 
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.score > p{
  font-weight: 700;
}